

body {
    font-family: 'Poppins', sans-serif;
    color: #f0f0f0;
    margin: 0px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #be3144;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

ul {
  list-style: none;
}

li {
  display: list-item;
  
}

.nav-list li {
    padding: 0px 10px;
}

.nav-list a {
    display: block;
    font-size: 1rem;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

h1 {
  font-size: 3rem;
  margin: 0px; 
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

.welcome-section > p {
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color: #be3144;
    margin: 0px;
    padding: 0px;
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: #45567d;
}

.projects-section-header {
    max-width: 640px;
    border-bottom: 0.1rem solid #f0f0f0;
    margin: 0 auto 6rem auto;
}

h2 {
    font-size: 2.7rem;

}



